<div class="row">

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <div>
          <div>
            <app-grafico-dona [datos]="graficos.grafico1.data" [nombres]="graficos.grafico1.labels" [leyenda]="graficos.grafico1.leyenda" [tipoDeGrafica]="graficos.grafico1.type" ></app-grafico-dona>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-6">
      <div class="card">
        <div class="card-body">
          <div>
            <div>
              <app-grafico-dona [datos]="graficos.grafico2.data" [nombres]="graficos.grafico2.labels" [leyenda]="graficos.grafico2.leyenda" [tipoDeGrafica]="graficos.grafico2.type" ></app-grafico-dona>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
          <div class="card-body">
            <div>
              <div>
                <app-grafico-dona [datos]="graficos.grafico3.data" [nombres]="graficos.grafico3.labels" [leyenda]="graficos.grafico3.leyenda" [tipoDeGrafica]="graficos.grafico3.type" ></app-grafico-dona>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6">
          <div class="card">
            <div class="card-body">
              <div>
                <div>
                  <app-grafico-dona [datos]="graficos.grafico4.data" [nombres]="graficos.grafico4.labels" [leyenda]="graficos.grafico4.leyenda" [tipoDeGrafica]="graficos.grafico4.type" ></app-grafico-dona>
                </div>
              </div>
            </div>
          </div>
        </div>
</div>
